{% import "shared/macros" as macros %}
{% if logs %}
<div id="refresher" class="hidden" hx-get="/new-logs/{{ logs[0].date }}" data-last="{{ logs[0].date }}" hx-trigger="every 5s" hx-target="#logs" hx-swap="afterbegin transition:true"></div>
<div id="logs" class="divide-y divide-gray-400 dark:divide-white">
	{% for log in logs %}
		{% include "main/logchunk" %}
	{% endfor %}
</div>
{% endif %}
